:root{

}

*{
padding: 0;
margin:0;
}

body{
    font-size: 25px;

}

.top-container{
    height:150px;
    padding-bottom: 20px;
    position:sticky;
    top:0;
    width: 100vw;
    background-color:ghostwhite;
}

.logo-container{
    width:400px;
}

.logo{
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 48%;
}

.logo-img{
    display: inline;
    height: 150px;
}

.top-container .links-one{
    width:200px;
    float: right;
    position: relative;
    top:-100px;
}

.top-container .links-one li{
    display: inline;
    padding: 0 15px 0 0;
}

.nav-container{
    width:100vw;
    padding: 0 0 0 15px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:fit-content;
    position: relative;
    top:-20px;
}

.nav-container nav ul{
    display: block;
}

.nav-container nav ul li{
    display: inline-block;
    padding-right: 13px;
}


.head-img-container{
    display: block;
    width: 80vw;
    margin:auto;
    margin-top: 50px;
}
.head-img{
    display: block;
    height:500px;
    margin:auto;
    margin-bottom: 50px;
}

.main-text{
    width:80vw;
    margin: auto;
    margin-bottom: 100px;
}

footer{
    width:100vw;
    padding: 20px 0 0 15px;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right:auto;
    background-color:ghostwhite;
    height: 200px;
    border-top: 2px dashed #000;

}

.footer-header{

}

footer ul li{
    padding-bottom: 13px;
    width: 150px;
    list-style: none;
    
}

.footer-container-one{
    display: inline-block;
    position: relative;
    height: 150px;
    width:150px;
    left: 70vw;    
}

.footer-container-two{
    display: inline-block; 
    position: relative;
    height: 150px;
    width:150px;
    left:80vw;

}


/*CONTACT FORM*/


.contact-form-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-form {
    width: 100%;
  }
  
  .form-group {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
  }