Header set Access-Control-Allow-Origin "http://localhost:3000";
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS";
Header set Access-Control-Allow-Headers "Content-Type";
Access-Control-Allow-Origin: http://localhost:3000